
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.loading-text {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

@keyframes rotate {
    0% { transform: rotateX(-37.5deg) rotateY(45deg); }
    50% { transform: rotateX(-37.5deg) rotateY(405deg); }
    100% { transform: rotateX(-37.5deg) rotateY(405deg); }
}

.hourglass {
    animation: rotate 2s ease infinite;
    width: 24rem;
    height: 24rem;
}
